PORT = 3000
MONGO_URL = your-mongodb-url
SECRET_KEY_USER = your-secret-key-for-user
SECRET_KEY_DEVELOPER = your-secret-key-for-dev
CLOUDINARY_CLOUD_NAME = your-cloudinary-cloud-name
CLOUDINARY_API_KEY = your-cloudinary-api-key
CLOUDINARY_API_SECRET = your-cloudinary-api-secret